In [1]:
conda update pandas

PackageNotInstalledError: Package is not installed in prefix.
  prefix: /Users/owais/anaconda3
  package name: pandas



Note: you may need to restart the kernel to use updated packages.

In [93]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.11/site-packages (1.4.39)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/7a/1f/a6cf0cdf944253f7c45d90fbc876cc8bed5cc9942349306245715c0d88d6/psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl (2.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 2.0 MB/s eta 0:00:0000:0100:010m
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [94]:
pip install psycopg2

Requirement already satisfied: psycopg2 in ./anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

/Users/owais/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [34]:
orders_df=pd.read_csv('/Users/owais/SQL Project E-commerce/orders.csv').sample(1000)

In [43]:
orders_df.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
592149,1067188,35689,11,3,9,4.0
3335144,846823,201048,21,4,15,0.0
3373836,802709,203318,24,1,12,7.0
2523010,2863507,151848,3,3,15,1.0
273827,746831,16562,4,2,19,12.0
516596,1444062,31131,3,3,18,30.0
2343207,2946172,141065,4,3,17,7.0
1646896,1320464,98881,15,0,11,7.0
1270791,3330139,76423,8,4,15,3.0
1077603,1217422,64937,3,5,13,5.0

In [36]:
products_df=pd.read_csv('/Users/owais/SQL Project E-commerce/products.csv')

In [37]:
order_products_df=pd.read_csv('/Users/owais/SQL Project E-commerce/order_products.csv')

In [38]:
departments_df=pd.read_csv('/Users/owais/SQL Project E-commerce/departments.csv')

In [39]:
aisles_df=pd.read_csv('/Users/owais/SQL Project E-commerce/aisles.csv')

In [40]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [41]:
order_products_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [26]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [27]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [8]:
#connection
conn=psycopg2.connect(dbname='E-Commerce',user='postgres',password='root',port='5432')

In [9]:
cur= conn.cursor()

In [10]:
engine= create_engine('postgresql+psycopg2://postgres:root@localhost/E-Commerce')

In [17]:
connection = engine.raw_connection()

In [18]:
connection=engine

In [21]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR (255)
)
""")

In [22]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [23]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [24]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [25]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [26]:
conn.commit()

In [42]:
orders_df.drop('eval_set',inplace=True,axis=1)

In [28]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [24]:
from sqlalchemy import create_engine

# Create engine
engine = create_engine('postgresql+psycopg2://postgres:root@localhost:5432/E-Commerce')

# Test if the connection works
connection = engine.connect()
print("Connection successful!")
connection.close()

Connection successful!

In [25]:
print(aisles_df.head())
print(aisles_df.info())

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
None

In [29]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [29]:
pip install --upgrade pandas sqlalchemy

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (2.2.2)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/52/11/9eac327a38834f162b8250aab32a6781339c69afe7574368fffe46387edf/pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.11/site-packages (1.4.39)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/1e/69/919673c5101a0c633658d58b11b454b251ca82300941fba801201434755d/SQLAlchemy-2.0.35-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading SQLAlchemy-2.0.35-cp311-cp311-macosx_11_0_arm64.whl.metadata (9.6 kB)
Requirement already satisfied: numpy>=1.23.2 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.7 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 2.0 MB/s eta 0:00:0000:0100:01
Downloading SQLAlchemy-2.0.35-cp311-cp311-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 2.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: sqlalchemy, pandas
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
Successfully installed pandas-2.2.3 sqlalchemy-2.0.35
Note: you may need to restart the kernel to use updated packages.

In [30]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [32]:
orders_df.to_sql('orders', con=engine, if_exists='append', index=False)

83

In [44]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)